{% for etherpad in etherpads %}
	<div class="app-etherpad">
        <div class="btn btn-emphasized w100 extra-indented" href="{{ etherpad.get_absolute_url }}">
            <ul class="media-list fine-space">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-file-text"></i>
                    </a>
                    <div class="media-body no-vertical-padding ">
                        <strong><a href="{{ etherpad.get_absolute_url }}" target="_blank">{{ etherpad.title|truncatechars:25 }}</a></strong>
                        <div class="group-annotation">
                            {% include 'cosinnus/group/group_label.html' with group=etherpad.group %}
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- btn -->
	</div>
{% endfor %}
