{% extends "cosinnus_etherpad/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
{% trans "Pads" %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        {% if object.path != '/' %}
            <li><a href="{% group_url 'cosinnus:etherpad:list' group=group.slug slug=object.container.slug %}">{{ object.container.title }}</a></li>
        {% endif %}
        <li class="active">{{ object.title }}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus/leftnav_hierarchic_itemview.html" %}
{% endblock leftnav %}


{% block content %}
    <!-- a box with semi transparent background -->
    <div class="content-box">
        <div class="btn btn-extra-emphasized w100">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-book"></i>
                    </a>
                    <a class="pull-right" href="{{ object.get_absolute_url }}">
                        <i class="fa fa-chain"></i>
                    </a>
                    <div class="media-body">
                       {{ object.title }}
                    </div>
                </li>
            </ul>
        </div>
        
        {% include 'cosinnus/media_tags_readonly.html' with object=object %}
        
        <div style="clear: both; margin-top: 10px;">
            <div class="well well-document">
                {{ etherpad.content|safe|url_target_blank }}
            </div>
        </div>
        
    
    </div><!-- content-box -->
    
    {% if user|has_write_access:object %}   
	    <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#deleteModal">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-eraser"></i>
                    </a>
                    <div class="media-body">
                        {% trans "Delete" %}
                    </div>
                </li>
            </ul>
        </button>
        <button type="button" class="btn btn-emphasized" href="{% group_url "cosinnus:etherpad:pad-edit" group=group.slug slug=etherpad.slug %}">
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <div class="media-body">
                        {% trans "Edit" %}
                    </div>
                </li>
            </ul>
        </button> 
	    
	    {% captureas label %}{% blocktrans with pad=object.title %}Do you really want to delete etherpad „{{ pad }}“?{% endblocktrans %}{% endcaptureas %}
	    {% captureas title %}{% trans "Delete Etherpad" %}{% endcaptureas %}
	    {% include "cosinnus/modal_box.html" with id="deleteModal" label=label title=title form_action="./delete/" %}
    {% endif %}
    
{% endblock content %}
