{% extends "cosinnus_etherpad/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static from staticfiles %}

{% block page_title %}
{% if form_view == "add" %}
  {% trans "Add pad" %}
{% elif form_view == "edit" %}
  {% trans "Edit" %} {{ etherpad.title }}
{% endif %}
{{ block.super }}
{% endblock page_title %}


{% block extrahead %}
{{ form.media.css }}
{% endblock extrahead %}


{% block content_title %}
{{ group.name }}:
{% if form_view == "add" %}
  {% trans "Add pad" %}
{% elif form_view == "edit" %}
  {% trans "Edit" %} {{ etherpad.title }}
{% endif %}
{% endblock content_title %}


{% block content %}
<form action="" method="post" class="form-horizontal">{% csrf_token %}
  {% bootstrap_form form %}

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">
        {% if form_view == 'edit' %}
          {% trans "Save" context "sinn" %}
        {% else %}
          {% trans "Add" %}
        {% endif %}
      </button>
      <a href="{% url 'cosinnus:etherpad:list' group=group.slug %}" class="btn">
        {% trans "Cancel" %}
      </a>
    </div>
  </div>
</form>
{% endblock content %}


{% block extrafooter %}
{{ block.super }}
{{ form.media.js }}
<script type="text/javascript" src="{% static "js/vendor/bootstrap3-typeahead.min.js" %}"></script>
<script type="text/javascript">
$(function() {
  {% if form_view != 'edit' %}
  $("#id_title").focus();
  {% endif %}


  var tags = [{% for tag in tags %}"{{ tag }}", {% endfor %}];
  $('#id_tags')
    .attr('data-provide', 'typeahead')
    .attr('autocomplete', 'off')
    .typeahead({
      source: tags,
    });
});
</script>
{% endblock extrafooter %}
