{% extends "cosinnus_etherpad/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'js/vendor/jstree.min.js' %}"></script>
    <link href="{% static 'css/vendor/jstree/themes/default/style.min.css' %}" rel="stylesheet">
{% endblock extrahead %}

{% block page_title %}
{% trans "Pads" %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        {% if current_folder and current_folder.path != '/' %}
            <li class="active">{{ current_folder.title }}</li>
        {% endif %}
{% endblock %}

{% block leftnav %}
    {% include "cosinnus/leftnav_hierarchic_listview.html" %}
{% endblock leftnav %}

{% block content %}
	<!-- a box with semi transparent background -->
	<div class="content-box">
	
        {% include 'cosinnus/common/filter_controls.html' %}        
        
	    {% with obj_form=form.forms.obj %}
	    <form action="" method="post" class="form-horizontal">{% csrf_token %}
		    {{ obj_form.non_field_errors }}
			<div type="button" class="btn btn-default w100 large-space">
			    <ul class="media-list">
			        <li class="media">
			            <a class="pull-left" href="#">
			                <i class="fa fa-plus"></i>
			            </a>
			            <div class="media-body media-body-form-control">
			                {{ obj_form.title.errors }}
			                {% captureas placeholder %}{% trans "Enter the title for a new Document." %}{% endcaptureas %}
			                {% render_field obj_form.title class+="form-control next-button-is-for-sending" placeholder=placeholder id="etherpadCreateInput" %}
			            </div>
			        </li>
			    </ul>
			</div>
            <button type="submit" class="btn btn-emphasized large-space" style="display: none;">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <i class="fa fa-floppy-o"></i>
                        </a>
                        <div class="media-body">
                            {% trans "Create" %}
                        </div>
                    </li>
                </ul>
            </button>
	    </form>
	    {% endwith %}
	    
	    {% for object in objects %}
		    <div id="cosinnus_list_element_{{ object.id }}" class="fadedown {% if not forloop.last %}regular-space{% endif %}">
		        <div class="btn btn-emphasized w100">
		            <ul class="media-list">
		                <li class="media">
		                    <a class="pull-left" href="#">
		                        <i class="fa fa-book"></i>
		                    </a>
		                    <a class="pull-right fadedown-clickarea" href="#">
		                        <i class="fa fa-chevron-down"></i>
		                    </a>
		                    <a class="pull-right" href="{{ object.get_absolute_url }}">
                                <i class="fa fa-chain"></i>
                            </a>
                            {% if folders and request.user.is_authenticated %}
	                            <a class="pull-right" href="#" onclick="$.cosinnus.Feedback.cosinnus_move_element({{ object.id }}, {{ current_folder.id }});">
	                                <i class="fa fa-crosshairs"></i>
	                            </a>
                            {% endif %}
		                    <div class="media-body">
		                        {% with creator=object.creator %}
    	                            <span class="annotation">
    	                                {% trans "by" %} 
    	                                <a href="{{ creator|profile_url }}" >{{ creator|full_name }}</a>
	                                </span>
		                        {% endwith %}
		                        <a href="{{ object.get_absolute_url }}">
		                            {{ object.title }}
		                        </a>
		                    </div>
		                </li>
		            </ul>
		        </div>
		        
		        {% include 'cosinnus/media_tags_readonly.html' %}
		        
		        {% if user|has_write_access:object %}
			        {% captureas modal_id %}deleteModal_{{object.slug}}{% endcaptureas %}
			        <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#{{modal_id}}">
			            <ul class="media-list">
			                <li class="media">
			                    <a class="pull-left" href="#">
			                        <i class="fa fa-eraser"></i>
			                    </a>
			                    <div class="media-body">
			                        {% trans "Delete" %}
			                    </div>
			                </li>
			            </ul>
			        </button>
			        <button type="button" class="btn btn-emphasized" href="{% group_url 'cosinnus:etherpad:pad-edit' group=group slug=object.slug %}">
			            <ul class="media-list">
			                <li class="media">
			                    <a class="pull-left" href="#">
			                        <i class="fa fa-pencil"></i>
			                    </a>
			                    <div class="media-body">
			                        {% trans "Edit" %}
			                    </div>
			                </li>
			            </ul>
			        </button> 
			    {% endif %}
			    
			    {% include 'cosinnus/feedback/report_button_btn.html' with object=object %}
			    
			</div><!-- fadedown -->
			{% if user|has_write_access:object %}    
			    {% captureas label %}{% blocktrans with title=object.title %}Do you really want to delete etherpad „{{ title }}“?{% endblocktrans %}{% endcaptureas %}
	            {% captureas title %}{% trans "Delete Etherpad" %}{% endcaptureas %}
	            {% captureas action %}{% group_url 'cosinnus:etherpad:pad-delete' group=group slug=object.slug %}{% endcaptureas %}
	            {% include "cosinnus/modal_box.html" with id=modal_id label=label title=title form_action=action %}
            {% endif %}
        {% empty %}
            <!-- {% trans "No etherpads have been created yet." %} -->
            {% include 'cosinnus/common/empty_button.html' with message="No etherpads have been created yet." %}
	    {% endfor %}
	
	</div><!-- content-box -->
	
	{% include 'cosinnus/hierarchy/move_element_modal.html' %}
	
	<script type="text/javascript">
	    var cosinnus_move_element_object_url = "{% group_url 'cosinnus:etherpad:move-element' group=group %}";
	    
        $('#cosinnus_move_element_modal').on('shown.bs.modal', function () {
            if ($('#jstree_move_div').is(':empty')){
			    console.log('showing jstree');
			    $('#jstree_move_div')
			        .on('loaded.jstree', function () {
                        $('#jstree_move_div').jstree(true).open_all();
                        $('#jstree_move_div').jstree(true).select_node("{{ current_folder.slug }}");
                    })
                    .on('changed.jstree', function (e, data) {
                        var i, j = [];
                        var folder_id = -1;
					    for(i = 0, j = data.selected.length; i < j; i++) {
					        var id = data.instance.get_node(data.selected[i]).id;
					        folder_id = data.instance.get_node(data.selected[i]).a_attr.target_folder;
					    }
					    $('#cosinnus_move_element_selected_folder').val(folder_id);
                    });
                var data = {{ all_folder_json|safe }};
                // use this to customise the folder icons
                //for(i = 0; i < data.length; i++) {
                //    data[i]['icon'] = 'fa fa-folder-open';
                //}    
	            $('#jstree_move_div').jstree({
	              "core" : {
	                "multiple" : false,
	                'data' : data,
	              },
	            });
			}
           
            
        });
    </script>
	
{% endblock content %}
