{% extends "cosinnus_etherpad/base.html" %}
{% load i18n %}


{% block page_title %}
{% trans "Delete" %} {{ etherpad.title }} {{ block.super }}
{% endblock page_title %}

{% block content_title %}
{{ group.name }}: {% trans "Delete" %} {{ etherpad.title }}
{% endblock content_title %}

{% block content %}
<form action="" method="post" class="form-inline">
  {% csrf_token %}
  <div class="control-group">
    <label class="control-label">
      <h3>{% trans "Are you sure you want to delete this Etherpad?" %}</h3>
    </label>
    <div class="controls">
      <button type="submit" class="btn btn-danger">
        {% trans "Delete" %}
      </button>
      <a href="{% url 'cosinnus:etherpad:list' group=group.slug %}" class="btn">
        {% trans "Cancel" %}
      </a>
    </div>
  </div>
</form>
{% endblock content %}
