{% extends "cosinnus_etherpad/base.html" %}
{% load i18n static %}

{% block page_title %}
{{ etherpad.title }} {{ block.super }}
{% endblock page_title %}


{% block content_title %}
{{ group.name }}: {{ etherpad.title }}
{% endblock content_title %}

{% block content %}
<p>{{ etherpad.description }}</p>
<iframe src="{{ etherpad.get_pad_url }}" width="100%" height="600px"></iframe>

<div class="row">
{% if has_wiki %}
  <div class="col-md-2">
      <form action="{% url 'cosinnus:etherpad:pad-archive-wiki' group=group.slug slug=etherpad.slug %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default" title="{% trans "Archiving will create a new page" %}"><span class="glyphicon glyphicon-save"></span> {% trans "Archive as Wiki page" %}</button>
      </form>
  </div>
{% endif %}

{% if has_file %}
  <div class="col-md-2">
      <form action="{% url 'cosinnus:etherpad:pad-archive-file' group=group.slug slug=etherpad.slug %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default" title="{% trans "Archiving will create a new file" %}"><span class="glyphicon glyphicon-save"></span> {% trans "Archive as File entry" %}</button>
      </form>
  </div>
{% endif %}
</div>
{% endblock %}
