{% extends "cosinnus_etherpad/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
{% trans "Pads" %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
        {{ block.super }}
        {% if object.path != '/' %}
            <li><a href="{% url 'cosinnus:etherpad:list' group=group.slug slug=object.container.slug %}">{{ object.container.title }}</a></li>
        {% endif %}
        <li class="active">{{ object.title }}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus/leftnav_hierarchic_itemview.html" %}
{% endblock leftnav %}


{% block content %}
    <!-- a box with semi transparent background -->
    <div class="content-box">
        <form action="" method="post" class="form-horizontal">{% csrf_token %}
	        {{ form.forms.obj.non_field_errors }}
	        <div class="btn btn-extra-emphasized w100">
	            <ul class="media-list">
	                <li class="media">
	                    <a class="pull-left" href="#">
	                        <i class="fa fa-book"></i>
	                    </a>
	                    <a class="pull-right" href="{{ object.get_absolute_url }}">
	                        <i class="fa fa-chain"></i>
	                    </a>
	                    <div class="media-body">
		                    {{ form.forms.obj.title.errors }}
		                    {% captureas placeholder %}{% trans "Gib den Titel für das Pad ein." %}{% endcaptureas %}
		                    {% render_field form.forms.obj.title class+="form-control" placeholder=placeholder id="etherpadTitle" %}
	                    </div>
	                </li>
	            </ul>
	        </div>
	        
	        {% include 'cosinnus/media_tags.html' %}
	
	        <button type="submit" class="btn btn-emphasized" id="etherpadSaveMetaButton">
	            <ul class="media-list">
	                <li class="media">
	                    <a class="pull-left" href="#">
	                        <i class="fa fa-floppy-o "></i>
	                    </a>
	                    <div class="media-body">
	                        {% trans "Speichern" %}
	                    </div>
	                </li>
	            </ul>
	        </button>
        </form>   

        <div style="clear: both; margin-top: 40px;">
            <iframe src="{{ etherpad.get_pad_url }}" width="100%" height="600px"></iframe>
        </div>
    
    </div><!-- content-box -->
    
    <button type="button" class="btn btn-emphasized" data-toggle="modal" data-target="#deleteModal">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-eraser"></i>
                </a>
                <div class="media-body">
                    {% trans "Löschen" %}
                </div>
            </li>
        </ul>
    </button>
    
    {% captureas label %}{% blocktrans with pad=object.title %}Do you really want to delete etherpad „{{ pad }}“?{% endblocktrans %}{% endcaptureas %}
    {% captureas title %}{% trans "Etherpad löschen" %}{% endcaptureas %}
    {% include "cosinnus/modal_box.html" with id="deleteModal" label=label title=title form_action="./delete/" %}

    
{% endblock content %}
