{% load i18n cosinnus_tags %}

{% with etherpad=object %}
	<div class="app-etherpad">
	    <div class="btn btn-emphasized w100">
	        <ul class="media-list large-space">
	            <li class="media">
	                <a class="pull-left" href="#">
	                    <i class="fa fa-pencil"></i>
	                </a>
	                <div class="media-body no-vertical-padding">
	                    <span class="annotation">
                            {% with creator=etherpad.creator %}
                                von <strong><a href="{{ creator|profile_url }}" >{{ creator|full_name }}</a></strong> 
                            {% endwith %}
                            <span class="moment-data-date" data-date="{{ etherpad.created|date:'c' }}"></span>
                        </span>
                        <strong><a href="{{ etherpad.get_absolute_url }}">{{ etherpad.title }}</a></strong>
	                    <div class="group-annotation">
	                        {% include 'cosinnus/group/group_label.html' with group=etherpad.group %}
	                    </div>
	                </div>
	            </li>
	        </ul>
	    </div><!-- btn -->
	</div>
{% endwith %}
